@import '~@fortawesome/fontawesome-free/css/all.css';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn.btn-primary, .btn.btn-danger {
    color: white;
}

table {
    tbody {
        tr {

            &:nth-of-type(odd) {
                background-color: lightblue;
            th {
                }
                img {
                    height: 250px;
                }
            }
        }
    }
}

.show {
    div {
        .user {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
        }
        .tag {
            margin-top: 12px;
            color: white;
            text-align: center;
            padding: 4px;
            background-color: cadetblue;
            border: 4px solid rgb(59, 97, 98);
            border-radius: 6px;
        }
        img {
            width: 100%;
        }
    .button {
        margin-top: 24px;
    }
    }
}

.index {
    table {
        th {
            font-size: 18px;
        }
        td {
            text-align: center;
        }
    }
}

.edit, .create {
    form {
        margin: 0 auto;
        label {
            font-weight: bold;
            margin-right: 24px;
            vertical-align: top;
        }
    input {
        margin-bottom: 24px;
    }
    textarea {
        width: 600px;
        margin-bottom: 24px;
    }
    }
}